<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>V-bind</title>
</head>

<body>

    <div id="app">

        <ul>
            <li v-for="c in comentarios">{{c.id}} - {{c.comentario}}</li>
        </ul>
        <button @click="adicionarElemento()">Adicionar</button>
        <button @click="removerElemento()">Remover</button>
        <button @click="modificarElemento()">Atualizar</button>
        <hr>

        <ul>
            <li v-for="n in numero">{{n}}</li>
        </ul>

        <ul>
            <li v-for="(inine, chave) in inine">{{chave}} - {{inine}}</li>
            <!-- v-for faz repetição e percorre por toda a lista -->
            <br>
            <li v-for="(champsLol, chave) in champsLol" v-text="chave + ' - ' + champsLol"></li>
            <!-- outra maneira de implementar o v-for -->
        </ul>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                    <th>DESCRIÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(cursos, chave) in cursosFatec"> <!--destructuring assigment-->
                    <td>{{chave}}</td>
                    <td>{{cursos.nome}}</td>
                    <td>{{cursos.descricao}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <ul>
            <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom:10px" :key="p.id">
                <!-- v-for para percorrer pelo array e v-bind key para identificar cada um individualmente-->
                <div>
                    {{ p.publicacao }}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>
        <button @click="misturarArray()">Misturar publicações</button> <!-- botão para misturar os arrays-->

    </div>

    </div>

    <script>

        const vm = new Vue({
            el: '#app',
            data: {
                numero: 25,
                inine: ['edu', 'ana', 'joao', 'andre', 'bea', 'naiara', 'lucas'],
                champsLol: ['katarina', 'nasus', 'talia', 'xerath', 'corki', 'amumu'],
                cursosFatec: {
                    1000: {
                        nome: 'Banco de Dados',
                        descricao: "Técnologo em BD aprenda todos os JDBC's "
                    },
                    1001: {
                        nome: 'DSM',
                        descricao: 'Aprenda todas as linguagens'
                    }
                },
                publicacoes: [ //objeto
                    { id: 1, publicacao: 'Publicações 1' },
                    { id: 2, publicacao: 'Publicações 2' },
                    { id: 3, publicacao: 'Publicações 3' },
                ]
            },
            methods: {
                misturarArray() { //metodo para misturar os objetos dentro dos arrays
                    let misturado = []

                    misturado[0] = this.publicacoes[2]
                    misturado[1] = this.publicacoes[0]
                    misturado[2] = this.publicacoes[1]

                    this.publicacoes = misturado
                },
                adicionarElemento() { //push metodo nativo do JS para ser reativo em adicionar um novo elemento
                    this.comentarios.push({ id: 4, comentario: 'Novo comentário' })
                },
                removerElemento() { //remover elemento do array
                    this.comentarios.pop()
                },
                modificarElemento() { //metodo para modificar valores do array
                    this.$set(
                        this.comentarios, //array
                        1,  //chave
                        { id: 2, comentario: 'Comentário 2 atualizado' } //novo valor
                    )
                }
            }
        })

    </script>

</body>

</html>