<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>V-Model</title>

</head>

<body>

    <div id="app">
        {{ paciente }} <br><br>
        <input type="text" :value="paciente" @keyup="paciente = $event.target.value"> <br><br> <!--exemplo de como v-model funciona-->
        <input type="text" v-model="paciente"><!--exemplo de v-model com sintaxe inchuta-->
        <hr>
        <input type="radio" value="f" v-model="sexo">Feminino
        <input type="radio" value="m" v-model="sexo">Masculino
        <br> {{sexo}}
        <hr>
        <select v-model="plano">
            <option value="" disabled>Selecione um Plano</option>
            <option value="1" >Basico 1</option>
            <option value="2" >Basico 2</option>
            <option value="3" >Master</option>
        </select>
        <br> {{plano}}
        <hr>
        <input type="checkbox" value="100" v-model="doencas">Asma
        <input type="checkbox" value="101" v-model="doencas">Diabetes
        <input type="checkbox" value="102" v-model="doencas">Rinite
        <br> {{doencas}}
        <hr>
        <textarea v-model="diagnostico"></textarea>
        <br> {{diagnostico}}
    </div>

    <script>

        const vm = new Vue({
            el:'#app',
            data:{
                paciente: 'Eduardo',
                sexo:'',
                plano:'',
                doencas:[],
                diagnostico:'',
            },
            methods: {},
            computed: {}
        })
    </script>

</body>

</html>